#home-aluno {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
}

.title-geral {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

.separador-gray {
    height: 3px;
    background-color: #e7e7e7;
    width: 100%%;
    margin: 15px auto;
}

.box-custom {
    height: auto;
}

.box-custom .content {
    width: 70%;
    margin: 0 auto;
}

.box-custom i {
    margin-right: 0%;
    font-size: 50px;
    vertical-align: middle;
    margin-top: 13%;
    display: inline-block;
    float: right;
    color: #da7575;
}

.box-custom .nota {
    font-weight: bold;
    font-size: 4vw;
    margin-top: 0;
    display: inline-block;
    color: #555;
}

.box-custom .text-desc {
    text-align: right;
    margin-top: 0;
    color: #9e9e9e;
    font-size: 20px;
}

.color-green-icon {
    color: #6bad65 !important;
}

.container-imgs-aluno {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    padding: 10% 5%;
}

.card {
    height: 100%;
}

.container-imgs-aluno img {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 -10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.list-group-item {
    border: none;
}

.name-aluno {
    text-align: center;
    margin: 9% 0;
}

.title-itens-aluno {
    font-weight: bold;
}

.item-agenda {
    padding: 0 35px;
    border-right: 2px solid #eee;
}

.data {
    color: #2496f1;
    font-size: 40px;
    text-align: left;
}

.professor {
    color: #9e9e9e;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
}

.materia-profs {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

.materia {
    color: #9e9e9e;
    font-weight: normal;
    font-size: 22px;
}

.container-agenda {
    padding: 20px 0;
}

.item-frequencia {
    width: 100%;
    display: block;
    text-align: center;
    height: 50px;
}

.data-freq {
    color: #db7675;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    width: 25%;
}

.data-freq h5 {
    font-size: 18px;
}

.status-freq {
    color: #9e9e9e;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    width: 42%;
}

.status-freq h5 {
    font-size: 18px;
}

.hora-freq {
    font-size: 17px;
    display: inline-block;
    width: 25%;
}

.hora-freq h5 {
    font-size: 18px;
}

.caret-up {
    font-size: 25px;
    color: #f3c721;
}

.caret-down {
    font-size: 25px;
    color: #2196f3;
}

.edu .card {
    padding-bottom: 20px;
    padding-top: 20px;
}

.card .table thead th {
    color: #2196f3;
    font-size: 20px;
    font-weight: bold;
}

.card .table th {
    text-align: center;
    border-bottom: none;
    border-top: none;
}

.card .table {
    text-align: center;
    color: #9e9e9e;
    font-weight: bold;
    font-size: 16px;
}

.card .table td {
    border-right: 2px solid #eee;
    border-top: none;
    border-bottom: none;
}

.card .table tbody th {
    border-right: 2px solid #eee;
}

#footer {
    background-color: #2196f3;
    padding: 10px;
    display: block;
    clear: both;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

#footer h1 {
    font-size: 18px;
}

#footer a {
    color: #ffffff;
    text-decoration: underline;
}

.color-blue {
    color: #2196f3 !important;
}

.color-red {
    color: #db7675 !important;
}

.color-green {
    color: #6bad65 !important;
}

.color-yellow {
    color: #f3c721 !important;
}

.alerta-blue {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
}

.bg-gray {
    background-color: #a2a2a2 !important;
}

.nome-professor {
    text-align: center;
    margin: 9% 0 5px 0;
}

@media only screen and (max-width: 968px) {
    #home-aluno {
        padding: 0;
    }
    .box-custom .content {
        width: 95%;
    }
    .box-custom .nota {
        font-size: 23vw;
    }
}

@media only screen and (max-width: 768px) {}